body,html{
  height:100vh;
  width:100%;
  padding:0;
  margin:0;
  overflow: hidden;
  touch-action: none;
  background-image: url('./back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}